<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="peopleManagerEntities" connectionString="server=.\sqlexpress;initial catalog=PeopleManager_DEV;user id=test;password=test" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttp">
          <readerQuotas maxArrayLength="999999999" maxStringContentLength="999999999" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="PeopleManager.Server.WCFServer.Services.PeopleManagerService">
        <endpoint address="http://localhost:8000/PeopleManagerService" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PeopleManager.Server.WCFServer.Interfaces.IPeopleManagerService">
          <!--<identity>
            <dns value="localhost" />
          </identity>-->
        </endpoint>
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/PeopleManagerService" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>